table {
    width: 100%;
    border-collapse: collapse;
}


td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ddd;
}

button {
    padding: 5px 10px;
    background-color: #09e740;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button.create {
    padding: 5px 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #ff0909;
}

button.create:hover {
    background-color: #09e740;;
}